* {
    box-sizing: border-box;
}

/* Navnar */
nav li .nav-link {
    color: black !important;
}

/* Main Section */
.main-section {
    background-color: #F1F3FF;
    padding-top: 100px;
}

.main-section .atas {
    padding-top: 80PX;
}

.main-section p {
    margin-top: 16px;
    font-size: 14px;
}

.main-section img {
    width: 673px;
}

/* Our Service */
.our-service {
    padding-top: 104px;
    background-color: white;
}

.our-service h3 {
    margin-bottom: 24px;
}

.our-service p {
    margin-bottom: 16px;
}

.our-service li {
    list-style-image: url(../images/ceklis.png);
    margin-bottom: 16px;
}

/* Why Us */
.why-us {
    padding: 100px 0px;
    background-color: white;
}

.why-us p {
    margin-bottom: 40px;
}

.card-border {
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    margin: 0px 10px;
    width: 265px;
}

.card-border img,
.card-border h6 {
    margin-bottom: 16px;
}

.testimonials {
    background-color: white;
}

.testimonials h3 {
    margin-bottom: 16px;
}

.testimonials p {
    margin-bottom: 40px;
}

/* Carousel */
.owl-nav {
    padding-right: 650px !important;
}

.bg-testi {
    border-radius: 8px;
    background-color: #F1F3FF !important;
}

.bg-testi .wrap {
    padding: 69px 32px;
}

.testimonials img .pict {
    width: 70px !important;
    margin-top: 15px;
}

.testimonials img .rate {
    width: 80px;
    height: 16px;
}

.bg-testi p {
    font-size: 14px;
    margin-bottom: 8px !important;
}

/* Getting Started */
.getting-started {
    padding: 100px 0px;
    background-color: white;
}

.kolom-sewa {
    background-color: #0D28A6;
    width: 1168px;
    height: 326px;
}

.kolom-sewa .text {
    padding: 64px 277px;
}

.kolom-sewa h2 {
    margin-bottom: 16px;
}

.kolom-sewa p {
    margin-bottom: 52px;
}

.kolom-sewa h2,
.kolom-sewa p {
    color: white;
}

/* FAQ */
.faq {
    padding: 100px 0px;
    background-color: white;
}

.faq button {
    width: 600px;
    height: 56px;
    border: 1px solid #D4D4D4;
}

/* Footer */
footer {
    padding: 100px 0px;
}

footer p {
    margin-bottom: 16px;
}

footer li {
    list-style-type: none;
    border: none !important;
    margin-right: 10px;
    background: none;
}

footer .img-list img {
    margin-right: 7px !important;
}


/* Responsive */
@media screen and (max-width: 768px) {

    /* Main Section */
    .main-section {
        padding-top: 10px;
    }

    .main-section h2 {
        font-size: 36px;
        line-height: 54px;
    }

    .main-section img {
        width: 350px;
        padding-top: 50px;
    }

    .our-service img {
        width: 250px;
        margin-left: 25px;
        margin-bottom: 40px;
    }

    .our-service h3,
    .getting-started h2 {
        margin-bottom: 24px;
        line-height: 36px;
    }

    /* Why Us */
    .why-us h3,
    .why-us p {
        text-align: center;
    }

    .why-us .row {
        padding-left: 10px;
    }

    .why-us .card-border {
        margin: 0px 10px;
        width: 325px;
    }

    .why-us .row img {
        padding-top: 20px;
    }

    .why-us .row p {
        text-align: left;
    }

    /* Testimonials */

    /* Getting Started */
    .getting-started {
        padding: 10px 0px;
    }

    .kolom-sewa {
        background-color: #0D28A6;
        width: 350px;
        height: auto;
        border-radius: 10px;
    }

    .kolom-sewa .text {
        padding: 20px 20px;
    }

    /* FAQ */
    .faq button {
        width: 100%;
        height: auto;
        border: 1px solid #D4D4D4;
        margin-bottom: 10px;
    }

    /* Footer */
    footer,
    .faq {
        padding-top: 60px;
    }

    footer .row {
        text-align: left;
    }

    footer ul {
        list-style-type: none;
        border: none !important;
        margin-right: 10px;
        background: none;
        padding-left: 0 !important;
    }
}

#searchDriver {
    margin-top: -50px;
    color: black;
}